	<nav class="navbar navbar-light bg-light navbar-expand-lg static-top">
		<div class="container">
			<img src="https://www.pngmart.com/files/21/Tech-PNG-Isolated-Pic.png" width="40" height="40" alt="">
			<a class="navbar-brand" href="/">&nbsp;&nbsp;&nbsp;Cursos TI Digitales</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Cursos
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/registrate">Registro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home">Iniciar sesión</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>